.pagination {
    @include flex;
    margin-top: 2em;
    gap: 0.5em;
    font-weight: bold;
    border-radius: $border-radius-sm;
    @include sm {
        transform: scale(0.8);
        padding-right: 10%;
    }
}

.pagination a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: $border-radius-sm;

    &:hover {
        background: var(--color-primary);
    }
}

.pagination-arrows {
    padding-top: 6px;
}

.pagination .pagination-active a {
    border-radius: $border-radius-sm;
    color: var(--color-primary);

    &:hover {
        color: white 2;
    }
}
