.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    gap: 0.5em;
    font-weight: bold;
    border-radius: $border-radius-sm;
    @include md {
        transform: scale(0.5);
    }
}

.pagination a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: $border-radius-sm;

    &:hover {
        background: $primary;
    }
}

.pagination .pagination-active a {
    border-radius: $border-radius-sm;
    color: $primary;

    &:hover {
        color: white;
    }
}
