.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: .5em;
    font-weight: bold;
    border-radius: $border-radius-sm;

}


.pagination a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: $border-radius-sm;

    &:hover {
        background: $light-purple;
    }
    
}

.pagination .pagination-active a {
    border-radius: $border-radius-sm;
    color: $light-purple;
    &:hover {
        color: black;
    }
} 