.side-menu-container {
    grid-area: 2 / 1 / 13 / 3;
    background: rgb(140, 230, 140);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5em 2em;
}

.menuItem {
    margin-bottom: 1.5em;
    font-weight: bold;
}