.categories-container {
    @include flex;
    justify-content: flex-end;
    position: relative;
    gap: 1em;
    margin: 2em 2em 3em 0;
    overflow-x: auto;
    flex-wrap: nowrap;

    @include md {
        margin-right: 1em;
    }
}

.cat-item-container {
    width: clamp(1.5rem, 15vw, 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    &:hover {
        background: rgb(221, 246, 221);
    }
}

.cat-item-title {
    font-size: .9rem;
}

.cat-item-img {
    transform: scale(0.8);
    margin-bottom: -1em;
}
