.categories-container {
    grid-area:  2 / 3 / 3 / 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.cat-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    border-radius: 15px;
    &:hover {
        background: rgb(221, 246, 221);
    }
}

.cat-item-title {
    font-size: .9rem;
}

.cat-item-img {
    transform: scale(0.8);
    margin-bottom: -1em;
}