// COLORS
$green: rgb(221, 246, 221);
$green2: rgb(152, 242, 147);
$salmon: #fbd3d3;
$light-salmon: rgb(238, 248, 234);
$light: rgb(255, 255, 255);

// palette idea
$dark-blue: #007681;
$light-blue: #bffcfc;
$green-blue: #609b9b;

$light-green: rgb(221, 246, 221);

$border: 1px white solid;
$box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
$border-radius-sm: 5px;
