// using css here because it works
:root {
    --color-background: hsl(0, 84%, 97%);
    --color-light: hsl(0, 84%, 90%);
    --color-primary: hsl(0, 100%, 72%);
}

$salmon: #fbd1d1;

$border: 1px rgb(0, 0, 0) solid;
$box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
$border-radius-sm: 5px;
