@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");
/*  MEDIA QUERIES */
/* use content so we can choose properties when using the mixin instead of hardcoding */
/* mixin for specific breakpoint (flexible) */
.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 1em;
}
@media (max-width: 960px) {
  .categories-container {
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .categories-container {
    width: 100%;
    gap: 1.5em;
  }
}
@media (max-width: 480px) {
  .categories-container {
    max-width: 400px;
  }
}

.cat-item-container {
  width: clamp(0.8rem, 15vw, 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  text-align: center;
}
.cat-item-container:hover {
  background: orange;
}

.cat-item-title {
  font-size: 0.9rem;
}

.cat-item-img {
  transform: scale(0.8);
  margin-bottom: -1em;
}

.slider {
  border: 2px solid deeppink;
  width: 80%;
  max-height: 100px;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
  padding: 0 1em;
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: gluten, comic sans-serif;
  gap: 1em;
}
@media (max-width: 960px) {
  .logo-container .logo-title {
    display: none;
  }
}

.search-bar {
  outline: none;
  height: 40px;
  width: clamp(250px, 35vw, 600px);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 0 1em;
  border: none;
}

.search-icon {
  position: absolute;
  right: 30px;
  color: grey;
}

.auth-container {
  display: flex;
  justify-content: center;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
  margin-top: -1em;
}
.auth-form label {
  width: 100%;
  font-size: 1.5rem;
}
.auth-form input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin: 0.8em 0 1.5em 0;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  gap: 0.5em;
  font-weight: bold;
  border-radius: 5px;
}

.pagination a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.pagination a:hover {
  background: orange;
}

.pagination .pagination-active a {
  border-radius: 5px;
  color: orange;
}
.pagination .pagination-active a:hover {
  color: white;
}

.outer-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-container {
  gap: 2.5em;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 720px) {
  .recipe-container {
    justify-content: center;
  }
}

.recipe-container-header {
  display: flex;
  align-items: center;
  gap: 2em;
}
.recipe-container-header h2 {
  color: orange;
}

.recipe {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 260px;
  background: white;
  border-radius: 15px;
}
.recipe .recipe-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
}
.recipe .recipe-title, .recipe .recipe-category {
  margin: 0;
}
@media (max-width: 480px) {
  .recipe {
    min-width: 300px;
  }
}

.save-icon {
  width: 40px;
  color: orange;
  font-size: 1.5rem;
  margin-right: 5px;
}

.form-separator {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .form-separator {
    flex-direction: column;
  }
}

.form-inner-separator {
  position: relative;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2em;
}
.recipe-form label {
  width: 100%;
  font-size: 1.5rem;
}
.recipe-form input,
.recipe-form textarea,
.recipe-form select {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin: 0.8em 0 1.5em 0;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
}
.recipe-form select {
  width: 96.5%;
}
.recipe-form textarea {
  height: 150px;
  padding-top: 1em;
}

.add-ingredient-button {
  margin-left: 30px;
  background: white;
  border: black 1px solid;
  border-radius: 5px;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.75);
}

.ingredient-input-container {
  display: flex;
  position: relative;
}
.ingredient-input-container .remove-ingredient-button {
  position: absolute;
  right: 10px;
  top: 20px;
}

.menu-container {
  width: 200px;
  background: rgb(252, 247, 239);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em 1.5em;
  margin-left: 1em;
}

.menuItem,
.logout-button {
  font-size: clamp(0.5rem, 5vh, 1rem);
  margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
  font-weight: bold;
}
.menuItem a:hover,
.logout-button a:hover {
  color: orange;
}

.logout-button {
  cursor: pointer;
}

.empty-page-container {
  width: 1000px;
  height: 100px;
  background: lime;
}

.error-page {
  background: red;
  padding: 2em;
}

.grocery-list-container {
  padding: 4em 0;
  margin: 2em;
  gap: 2em;
}
@media (max-width: 1190px) {
  .grocery-list-container {
    padding: 0;
  }
}

.line {
  padding-top: 2vh;
  border-bottom: grey 2px dotted;
  height: 5px;
  width: clamp(250px, 18vw, 330px);
}

.grocery-list {
  border: deeppink solid 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(300px, 20vw, 400px);
  padding: 2em 0 1em 0;
  height: auto;
  gap: 1.5em;
  background: rgb(252, 247, 239);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  color: grey;
  font-size: 0.8rem;
}

.grocery-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
  gap: 2em;
  position: relative;
}
.grocery-input-container .grocery-input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin: 0.8em 0 1.5em 0;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
  width: 250px;
}

.add-item-button {
  position: absolute;
  bottom: 41px;
  right: 25px;
}

.grocery-back-button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 10px;
}

.recipe-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50vw, 800px);
  gap: 2em;
  margin-bottom: 6em;
}
.recipe-details-container .ingredients-container {
  background: rgb(252, 247, 239);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
}
.recipe-details-container .ingredients-container ul {
  padding-left: 1em;
}
.recipe-details-container .method-container {
  padding: 1em;
  flex: stretch;
  background: rgb(252, 247, 239);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
}

.single-recipe-title-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
}

.recipe-name {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.recipe-category-title {
  color: orange;
}

.random-button {
  position: absolute;
  right: 0;
}

.recipe-details-title {
  color: orange;
}

.recipe-button-container {
  position: absolute;
  font-size: 1.5rem;
  bottom: -60px;
  right: 0;
}

.edit-buttons {
  margin: 8px;
}
.edit-buttons:hover {
  color: orange;
}

.recipe-back-button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 10px;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(300px, 70%, 1000px);
  background: rgb(252, 247, 239);
  padding: 2em;
  gap: 2rem;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
}

.modal-button-container {
  display: flex;
  gap: 2rem;
}

.modal-title, .modal-button {
  font-size: clamp(1.5rem, 70%, 2rem);
  text-align: center;
  font-weight: bold;
}

.modal-button {
  font-size: 1rem;
}
.modal-button:hover {
  color: orange;
  transform: scale(1.2);
}

.url-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
}
.url-form input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin: 0.8em 0 1.5em 0;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
  width: clamp(300px, 25vw, 450px);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  background: rgb(252, 247, 239);
}

a {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.submit-button {
  font-size: 1.5rem;
  margin: -1em;
  margin-top: 1em;
  border: 1px rgb(0, 0, 0) solid;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
  border-radius: 5px;
  padding: 0.5em 1.5em;
}
.submit-button:hover {
  transform: scale(1.1);
  border: orange solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(255, 165, 0, 0.75);
}

.back-button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 10px;
}

.form-back-button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 10px;
}

.login-back-button {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 30px;
  top: 10px;
}

.global-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 720px) {
  .left-container {
    display: none;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2em;
}/*# sourceMappingURL=app.css.map */