@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

@import "./variables";
@import "./mixins";

// COMPONENT IMPORTS
@import "../../Components/categories/categories";
@import "../../Components/header/header";
@import "../../Components/auth-form/auth-form";
@import "../../Components/filter-recipes/pagination";
@import "../../Components/recipes-container/recipes-container";
@import "../../Components/recipe-form/recipe-form";
@import "../../Components/menu/menu";
@import "../../Components/empty/empty";

@import "../../Pages/error/error";
@import "../../Pages/grocery-list/groceryList";
@import "../../Pages/recipe/recipe";
@import "../../Pages/url-recipe/url-recipe";

// GLOBAL STYLING
html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    background: $light;
}

a {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.submit-button {
    font-size: 1.5rem;
    margin: -1em;
    margin-top: 1em;
    @include button;
    border-radius: $border-radius-sm;
    padding: 0.5em 1.5em;
}

.back-button {
    @include backButton;
}
.form-back-button {
    @include backButton;
}
.login-back-button {
    @include backButton;
}

// APP STYLING

.global-container {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    height: 100vh;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.left-container {
    @include md {
        display: none;
    }
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
}
