@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

@import "./variables";
@import "./mixins";

// COMPONENT IMPORTS
@import "../../Components/categories/categories";
@import "../../Components/header/header";
@import "../../Components/auth-form/auth-form";
@import "../../Components/not-authorized/not-authorized";
@import "../../Components/pagination/pagination";
@import "../../Components/recipes-container/recipes-container";
@import "../../Components/recipe-form/recipe-form";
@import "../../Components/menu/menu";
@import "../../Components/menu/theme";
@import "../../Components/empty/empty";

@import "../../Pages/error/error";
@import "../../Pages/grocery-list/groceryList";
@import "../../Pages/recipe/recipe";

// GLOBAL STYLING
html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    background: $background;
    background-size: 60px 60px;
    // animation: slide 8s infinite linear;
    // background-color: #faf691;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fdfbce' fill-opacity='0.65'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.submit-button {
    font-size: 1.5rem;
    margin: -1em;
    margin-top: 1em;
    @include button;
    border-radius: $border-radius-sm;
    padding: 0.5em 1.5em;
}

.back-button {
    @include backButton;
}
.form-back-button {
    @include backButton;
}
.login-back-button {
    @include backButton;
}


.global-container {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    height: 100vh;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.left-container {
    @include md {
        display: none;
    }
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
    @include md {
        margin: 0;
    }
}
