@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");
:root {
  --color-background: hsl(0, 84%, 97%);
  --color-light: hsl(0, 84%, 90%);
  --color-primary: hsl(0, 100%, 72%);
}

/*  MEDIA QUERIES */
/* use content so we can choose properties when using the mixin instead of hardcoding */
/* mixin for specific breakpoint (flexible) */
.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1.5em;
}
@media (max-width: 960px) {
  .categories-container {
    justify-content: start;
  }
}
@media (max-width: 720px) {
  .categories-container {
    justify-content: center;
    margin-top: 4em;
  }
}
@media (max-width: 480px) {
  .categories-container {
    max-width: 400px;
  }
}

.cat-item-container {
  width: clamp(0.8rem, 18vw, 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  text-align: center;
}
.cat-item-container:hover {
  background: var(--color-light);
}

.cat-item-title {
  font-size: 0.9rem;
}

.cat-item-img {
  width: auto;
  height: auto;
  transform: scale(0.8);
  margin-bottom: -1em;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: solid 2px var(--color-light);
}
@media (max-width: 720px) {
  .header-container {
    gap: 1em;
    position: fixed;
    justify-content: space-around;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 2;
    padding: 5px;
    background: var(--color-light);
  }
}

.menu-button {
  display: none;
  font-size: 4rem;
  z-index: 3;
  cursor: pointer;
}
@media (max-width: 720px) {
  .menu-button {
    display: flex;
  }
}

.search-container {
  position: relative;
}

.search-bar {
  height: 40px;
  width: clamp(200px, 60vw, 600px);
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 0 1em 0 4em;
  outline: none;
  border: none;
  border: solid 2px var(--color-light);
}
@media (max-width: 480px) {
  .search-bar {
    box-shadow: none;
  }
}
@media (max-width: 720px) {
  .search-bar {
    margin: 0 auto;
  }
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 12px;
  color: grey;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: -200px;
  background: var(--color-primary);
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
  padding: 0 1em;
  margin-top: -1em;
  height: 500px;
}
.auth-form input {
  height: auto;
  outline: none;
  padding: 0.5em;
  padding-right: 2em;
  margin: 0.2em 0 1.5em 0;
  width: 85%;
  font-family: inherit;
  font-size: 1rem;
  white-space: normal;
  border: none;
  border-radius: 10px;
  background: var(--color-light);
  background: var(--color-light);
}
@media (max-width: 480px) {
  .auth-form input {
    box-shadow: none;
  }
}

.auth-form-group {
  position: relative;
}

.auth-submit-button {
  font-size: 1.5rem;
  width: 85%;
  border: 1px rgb(0, 0, 0) solid;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.3rem;
  transition: ease-in-out 0.3s;
  background: var(--color-light);
  border-radius: 10px;
  padding: 0.5em 1.5em;
}
.auth-submit-button:hover {
  transform: scale(1.1);
  border: var(--color-primary) solid 2px;
  box-shadow: 4px 4px 0px 0px var(--color-primary, 0.75);
}

.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2em;
  width: 100vw;
}
.recipe-form label {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
}
.recipe-form input,
.recipe-form textarea,
.recipe-form select {
  height: auto;
  outline: none;
  padding: 0.5em;
  padding-right: 2em;
  margin: 0.2em 0 1.5em 0;
  width: 85%;
  font-family: inherit;
  font-size: 1rem;
  white-space: normal;
  border: none;
  border-radius: 10px;
  background: var(--color-light);
  width: 90%;
  background: white;
}
@media (max-width: 480px) {
  .recipe-form input,
  .recipe-form textarea,
  .recipe-form select {
    box-shadow: none;
  }
}
.recipe-form select {
  width: 95%;
}
.recipe-form textarea {
  height: 400px;
  padding-top: 1em;
}

.form-separator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 60vw;
}
@media (max-width: 960px) {
  .form-separator {
    width: 90vw;
  }
}

.add-ingredient-button {
  width: 50px;
  margin-left: 30px;
}

.ingredient-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 95%;
}
.ingredient-input-container input {
  width: 100%;
}
.ingredient-input-container .remove-ingredient-button {
  position: absolute;
  right: 0px;
  top: 10px;
}

.submit-button {
  font-size: 1.5rem;
  width: 85%;
  border: 1px rgb(0, 0, 0) solid;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.3rem;
  transition: ease-in-out 0.3s;
  background: var(--color-light);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  width: 300px;
  margin: 1em 0;
}
.submit-button:hover {
  transform: scale(1.1);
  border: var(--color-primary) solid 2px;
  box-shadow: 4px 4px 0px 0px var(--color-primary, 0.75);
}

.no-auth-container {
  min-height: 101vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbd1d1;
  margin: -1.5em;
}
.no-auth-container .taco-gif {
  width: 30%;
}
.no-auth-container .no-auth-text {
  font-size: clamp(1rem, 5vw, 2.5rem);
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 0.5em;
  font-weight: bold;
  border-radius: 5px;
}
@media (max-width: 480px) {
  .pagination {
    transform: scale(0.8);
    padding-right: 10%;
  }
}

.pagination a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.pagination a:hover {
  background: var(--color-primary);
}

.pagination-arrows {
  padding-top: 6px;
}

.pagination .pagination-active a {
  border-radius: 5px;
  color: var(--color-primary);
}
.pagination .pagination-active a:hover {
  color: white 2;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.2em;
}
@media (max-width: 720px) {
  .recipe-container {
    justify-content: center;
  }
}

.recipe-container-header {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-left: 1em;
}
.recipe-container-header h2 {
  color: var(--color-primary);
}
.recipe-container-header .recipes-amount {
  font-size: 1.5rem;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 230px;
  height: 230px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}
@media (max-width: 960px) {
  .recipe {
    transform: scale(0.9);
    margin: -1em;
  }
}
@media (max-width: 720px) {
  .recipe {
    transform: scale(0.8);
    margin: -2em;
  }
}
@media (max-width: 480px) {
  .recipe {
    transform: scale(0.7);
    margin: -3em;
  }
}
.recipe .recipe-title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 35%;
  padding: 0.3em 1em;
  font-size: clamp(0.9rem, 1vh, 1.2rem);
}
.recipe .recipe-image {
  width: 100%;
  max-height: 65%;
  min-height: 65%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.recipe .recipe-title,
.recipe .recipe-category {
  margin: 0;
  width: 85%;
}

.save-icon {
  height: 50px;
  padding: 0 8px 0 8px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  color: var(--color-primary);
}

.welcome {
  margin-top: 2em;
}
.welcome .welcome-text {
  font-family: gluten, comic sans-serif;
}

.empty-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loadingtaco {
  width: 300px;
}

.empty-text {
  font-size: clamp(1rem, 5vh, 1.5rem);
}

.menu-container {
  width: inherit;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .menu-container {
    box-shadow: none;
  }
}
@media (max-width: 720px) {
  .menu-container {
    display: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: gluten, comic sans-serif;
  gap: 1em;
  margin-bottom: 4em;
}
@media (max-width: 720px) {
  .logo-container {
    display: none;
  }
}

#mobile-menu {
  display: flex;
  width: 230px;
  z-index: 1;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  border-top-right-radius: 0%;
  background: var(--color-light);
  border: none;
  position: fixed;
  right: 0;
  top: 60px;
  padding-left: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  #mobile-menu {
    box-shadow: none;
  }
}
@media (max-width: 960px) {
  #mobile-menu {
    display: none;
  }
}
#mobile-menu .menu-container {
  display: none;
}
@media (max-width: 720px) {
  #mobile-menu .menu-container {
    display: flex;
  }
}

.menuItem,
.logout-button {
  font-size: clamp(0.5rem, 5vh, 1rem);
  margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
  font-weight: bold;
  cursor: pointer;
}
.menuItem:hover, .menuItem a:hover,
.logout-button:hover,
.logout-button a:hover {
  color: var(--color-primary);
}

.logout-button {
  cursor: pointer;
}

.theme-modal {
  position: fixed;
  left: 10%;
  right: 0;
  top: 30%;
  bottom: 30%;
  width: 80%;
  padding: 2em 0;
  gap: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  background: white;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 2rem);
  z-index: 2;
}
@media (max-width: 480px) {
  .theme-modal {
    box-shadow: none;
  }
}

.theme-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
@media (max-width: 720px) {
  .theme-button-container {
    gap: 1em;
  }
}
@media (max-width: 480px) {
  .theme-button-container {
    gap: 0.5em;
  }
}

.theme-button {
  font-size: clamp(1.5rem, 8vw, 3rem);
}
.theme-button.pink {
  color: hsl(0, 90%, 80%);
}
.theme-button.orange {
  color: orange;
}
.theme-button.blue {
  color: hsl(195, 96%, 63%);
}
.theme-button.green {
  color: hsl(137, 49%, 59%);
}
.theme-button.purple {
  color: hsl(271, 91%, 74%);
}

.grocery-list-container {
  padding: 4em 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
@media (max-width: 1190px) {
  .grocery-list-container {
    padding: 0;
  }
}

.grocery-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 20vw, 400px);
  padding: 2em 0 1em 0;
  margin-top: 3em;
  border-radius: 10px;
  background: white;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: grey 2px dotted;
  font-size: 1.2rem;
  width: clamp(250px, 18vw, 330px);
}

.line-text {
  margin-bottom: 4px;
}

.line-through {
  text-decoration: line-through;
}

.grocery-input {
  height: auto;
  outline: none;
  padding: 0.5em;
  padding-right: 2em;
  margin: 0.2em 0 1.5em 0;
  width: 85%;
  font-family: inherit;
  font-size: 1rem;
  white-space: normal;
  border: none;
  border-radius: 10px;
  background: var(--color-light);
  width: 250px;
  height: 30px;
  background: white;
}
@media (max-width: 480px) {
  .grocery-input {
    box-shadow: none;
  }
}

.add-item-button {
  background: var(--color-light);
  padding: 5px 10px;
  border: black 1px solid;
  border-radius: 5px;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.add-item-button:active {
  color: var(--color-primary);
  box-shadow: 3px 4px 0px 0px var(--color-primary);
}

.single-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(350px, 70vw, 1000px);
  margin-bottom: 4em;
  background: white;
}
@media (max-width: 960px) {
  .single-recipe-container {
    width: 100vw;
  }
}
.single-recipe-container .recipe-image {
  width: 100%;
}

.recipe-details-container {
  position: relative;
  display: flex;
  padding: 0 2em 2em 0;
}

.single-recipe-title-container {
  background: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 94%;
  margin: -2em 0 -1em 0;
  padding: 0 3%;
  flex-direction: column;
  align-items: start;
}

.recipe-name {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.recipe-category {
  color: var(--color-primary);
  font-size: 1rem;
}

.recipe-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.edit-buttons,
.random-button {
  margin: 0 5px;
}
.edit-buttons:hover,
.random-button:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}

.random-button {
  position: absolute;
  left: 0;
}

.tabs {
  width: 100%;
}

.tablist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(238, 237, 237);
  gap: 3em;
  padding-right: 2em;
}

.tab-title {
  cursor: pointer;
  width: 50%;
}

.react-tabs__tab--selected {
  color: var(--color-primary);
  border-bottom: var(--color-primary);
  outline: none;
  border-bottom: var(--color-primary) solid 2px;
}

.delete-modal {
  position: fixed;
  top: 30%;
  bottom: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(300px, 70%, 1000px);
  background: white;
  padding: 2em;
  gap: 2rem;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 10px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 480px) {
  .delete-modal {
    box-shadow: none;
  }
}

.modal-button-container {
  display: flex;
  gap: 2rem;
}

.modal-title,
.modal-button {
  font-size: clamp(1.5rem, 70%, 2rem);
  text-align: center;
  font-weight: bold;
}

.modal-button {
  font-size: 1rem;
}
.modal-button:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li {
  font-weight: bold;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.global-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: var(--color-light);
}

.main-container {
  display: flex;
  align-items: flex-start;
}

.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 720px) {
  .right-container {
    margin: 0;
  }
}

.left-container {
  background: var(--color-light);
  height: 100vh;
  width: 200px;
  padding: 1em 2em;
  margin: -0.5em 2em 0 -0.5em;
}
@media (max-width: 720px) {
  .left-container {
    display: none;
  }
}

.form-title {
  color: white;
  position: absolute;
  left: 0;
  top: 2em;
}/*# sourceMappingURL=global.css.map */