.menu-container {
    width: 200px;
    @include box;
    background: var(--color-light);
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em 1.5em;
    margin-left: 1em;
    @include md {
        display: none;
    }
}

#mobile-menu {
    display: flex;
    width: 250px;
    z-index: 2;
    @include box;
    border-top-right-radius: 0%;
    background: var(--color-light);
    border: none;
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    & .menu-container {
        display: flex;
    }
}

.menuItem,
.logout-button {
    font-size: clamp(0.5rem, 5vh, 1rem);
    margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
    font-weight: bold;
    & a:hover {
        color: var(--color-dark);
    }
}

.logout-button {
    cursor: pointer;
}
