.menu-container {
    width: 200px;
    @include colorBox;
    background: white;
    // box-shadow: 5px 5px 0px 0px $primary,
    // 7px 7px 0px 0px white;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em 1.5em;
    margin-left: 1em;
    @include md {
        display: none;
    }
}



#mobile-menu {
    display: flex;
    width: 95vw;
    z-index: 2;
    @include colorBox;
    background: rgb(255, 255, 255);
    border: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    & .menu-container  {
        display: flex;
    }
}   


.menuItem,
.logout-button {
    font-size: clamp(0.5rem, 5vh, 1rem);
    margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
    font-weight: bold;
    & a:hover {
        color: $primary;
    }
}

.logout-button {
    cursor: pointer;
}
