$themes: (
    red: (
        color-background: rgb(254, 244, 244),
        color-primary: rgb(255, 80, 80),
        color-text: black,
    ),
    orange: (
        color-background: rgb(252, 247, 239),
        color-primary: orange,
        color-text: black,
    ),
    green: (
        color-background: rgb(236, 245, 236),
        color-primary: rgb(16, 165, 16),
        color-text: black,
    ),
    blue: (
        color-background: rgb(240, 245, 245),
        color-primary: rgb(6, 178, 193),
        color-text: black,
    ),
    purple: (
        color-background: rgb(250, 243, 249),
        color-primary: rgb(224, 122, 224),
        color-text: black,
    ),
);

.theme-modal {
    position: fixed;
    left: 10%;
    right: 0;
    top: 30%;
    bottom: 30%;
    width: 80%;
    padding: 2em 0;
    gap: 2em;
    @include flex;
    @include box;
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    background: $background;
    font-weight: bold;
    font-size: 2rem;
    z-index: 2;
}

.theme-button-container {
    @include flex;
    gap: 2em;
}

.theme-button {
    font-size: 3rem;
    &.orange {
        color: $primary;
    }
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &.blue {
        color: blue;
    }
    &.purple {
        color: purple;
    }
}
