.side-container {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    align-items: flex-start;
    margin-left: 1em;
    @include lg {
        display: none;
    }
}

.menu-container {
    width: 200px;
    @include colorBox;
    box-shadow: 5px 5px 0px 0px $light-purple,
    7px 7px 0px 0px black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5em 1.5em 0 1em;
    background: $light-salmon;
}

.menuItem {
    font-size: clamp(0.5rem, 5vh, 1rem);
    margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
    font-weight: bold;
    & a:hover {
        color: rgb(74, 180, 74);
    }
}
