<!-- COLOR THEME BUTTON TOGGLE -->
<i class="paint-brush fa-solid fa-paintbrush fa-lg" id="color-picker"></i>

<ul class="color-nav" id="color-nav">
    <li><i id="pink" class="fa-solid fa-paintbrush fa-lg"></i></li>
    <li><i id="yellow" class="fa-solid fa-paintbrush fa-lg"></i></li>
    <li><i id="green" class="fa-solid fa-paintbrush fa-lg"></i></li>
    <li><i id="cyan" class="fa-solid fa-paintbrush fa-lg"></i></li>
    <li><i id="purple" class="fa-solid fa-paintbrush fa-lg"></i></li>
</ul>

<!-- MAIN MENU BUTTONS -->

<div class="menu-container">
    <a href="/add" id="create-button" class="main-button">add recipe</a>
    <a href="/view" id="view-button" class="main-button">view recipes</a>
    <a href="/random" id="random-button" class="main-button">random recipe</a>
</div>
