

<a href="/add" id="create-button" class="main-button">add recipe</a>
<a href="/view" id="view-button" class="main-button">view recipes</a>
<a href="/random" id="random-button" class="main-button">random recipe</a>
