


<a href="/views/add" id="create-button" class="main-button">add recipe</a>
<a href="/views/view" id="view-button" class="main-button">view recipe</a>
<a href="/views/search" id="search-button" class="main-button">search recipe</a>
