.categories-container {
    @include flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 1em;
    @include lg {
        justify-content: center;
    }
    @include md {
        width: 100%;
        gap: 2em;
        margin-top: 4em;
    }
    @include sm {
        max-width: 400px;
    }
}

.cat-item-container {
    height: 90px;
    width: clamp(0.8rem, 16vw, 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    &:hover {
        
            color: var(--color-dark);
        
    }
}

.cat-item-title {
    font-size: 0.9rem;
}

.cat-item-img {
    width: auto;
    height: auto;
    transform: scale(0.8);
    margin-bottom: -1em;
}
