.categories-container {
    @include flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    gap: 1em;
    @include lg {
        justify-content: center;
    }
    @include md {
        width: 100%;
        gap: 2em;
    }
    @include sm {
        max-width: 400px;
    }
}

.cat-item-container {
    width: clamp(0.8rem, 15vw, 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    &:hover {
        background: var(--color-dark);
    }
}

.cat-item-title {
    font-size: 0.9rem;
}

.cat-item-img {
    width: auto;
    height: auto;
    transform: scale(0.8);
    margin-bottom: -1em;
}

.slider {
    border: 2px solid deeppink;
    width: 80%;
    max-height: 100px;
}
