.no-auth-container {
    min-height: 101vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $salmon;
    margin: -1.5em;
    & .taco-gif {
        width: 30%;
    }
    & .no-auth-text {
        font-size: clamp(1rem, 5vw, 2.5rem);
        text-align: center;
    }
}
