.header-container {
    position: relative;
    border-radius: 15px;
    @include flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 1.5em;
}

.logo-container {
    display: flex;
    align-items: center; 
    font-family: gluten, comic sans-serif;
    gap: 1em;
    @include lg {
        display: none;
    }


}

.menu-button {
    display: none;
    font-size: 3rem;

    @include lg {
        display: flex;
    }
}

.search-bar {
    outline: none;
    height: 40px;
    width: clamp(200px, 25vw, 600px);
    @include box;
    box-shadow: $box-shadow;
    padding: 0 1em;
    margin-left: -8px;
}
