.header-container {
    position: relative;
    border-radius: 15px;
    @include flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    display: flex;
    align-items: center; 
    font-family: gluten, comic sans-serif;
    gap: 1em;
    @include md {
        display: none;
    }
}

.menu-button {
    display: none;
    font-size: 3rem;

    @include md {
        display: flex;
    }
}

.search-bar {
    outline: none;
    height: 40px;
    width: clamp(280px, 30vw, 500px);
    @include box;
    padding: 0 1em;
    margin-left: -8px;
}
