@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

@import "./variables";
@import "./mixins";

// COMPONENT IMPORTS
@import "../Components/categories/categories";
@import "../Components/header/header";
@import "../Pages/login/login";
@import "../Components/pagination/pagination";
@import "../Components/recipes/recipes";
@import "../Components/sideMenu/sideMenu";

@import "../Pages/login/login";
@import "../Pages/register/register";

// GLOBAL STYLING
body {
    font-family: Poppins, sans-serif;
    @include flex;
    background: rgb(255, 224, 254);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


// APP STYLING
.global-container {
    width: clamp(300px, 90vw, 1300px);

    background: rgb(255, 255, 255);
    @include box;
    margin: 30px;
}

.main-container {
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include md {
        @include flex;
        flex-direction: column;
        
    }
}
