
.form-separator {
    display: flex;
    justify-content: space-around;
    @include md{
        flex-direction: column;
    }

}

.form-inner-separator {
    position: relative;
    @include form;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 2em;

    & label {
        @include label;
    }


    & input,
    textarea,
    select {
        @include input;
    }

    & select {
        width: 96.5%;
    }

    & textarea {
        height: 150px;
        padding-top: 1em;
    }
}


.add-ingredient-container {
    position: relative;
}

.add-ingredient-button{
    margin-left: 100px;  
}

.ingredient-input-container {
    display: flex;
    position: relative;

    & .remove-ingredient-button {
        position: absolute;
        right: 10px;
        top: 20px;
    }
}