
.auth-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: -200px;
    background: var(--color-primary);

}

.auth-form {
    @include flex;
    @include form;
    margin-top: -1em;
    height: 500px;
    
    & label {
        @include label;
    }

    & input {
        @include input;
    }

}