

.auth-container {
    display: flex; 
    justify-content: center;
    margin-top: -200px;
}

.auth-form {
    @include flex;
    @include form;
    margin-top: -1em;
    
    & label {
        @include label;
    }

    & input {
        @include input;
    }


}