
.recipe-details-container {
    position: relative;
    display: flex;
    width: clamp(300px, 50vw, 2000px);
    gap: 2em;

    & .ingredients-container {
        padding-right: 1em;
        @include colorBox;
    }
    & .instructions-container {
        padding: 1em;
        flex: stretch;
        @include colorBox;
    }

    @include lg {
        flex-direction: column;
    }
}

.recipe-name {
    font-size: clamp(1.5rem, 3vw, 2rem);
}


.recipe-button-container {
    position: absolute;
    font-size: 1.5rem;
    bottom: -50px;
    right: 0;
    display: flex;
    gap: 20px;
}

.edit-buttons {
    &:hover {
        color: $light-purple;
    }
}

.recipe-back-button {
    @include backButton;

}