
.single-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: clamp(340px, 60vw, 800px);
    gap: 2em;
    margin-bottom: 6em;

    & .ingredients-container,
    .method-container {
        @include colorBox;
        padding: 1em;
        padding-right: 2.5em;
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
        @include sm {
            box-shadow: none;
        }
    }
}

.single-recipe-title-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    @include md {
        gap: 0;
        flex-direction: column;
        align-items: start;
    }
}
.recipe-name {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.recipe-category-title {
    color: $primary-dark;
}

.recipe-details-title {
    color: $primary-dark;
}

.recipe-button-container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-bottom: 2em;
}

.edit-buttons,
.random-button {
    margin: 0 8px;
    &:hover {
        color: $primary-dark;
        transform: scale(1.2);
    }
}

.random-button {
    position: absolute;
    left: 0;
}

.recipe-back-button {
    @include backButton;
}

.delete-modal {
    position: fixed;
    top: 30%;
    bottom: 40%;
    @include flex;
    flex-direction: column;
    width: clamp(300px, 70%, 1000px);
    background: $background;
    padding: 2em;
    gap: 2rem;
    @include box;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.75);
}

.modal-button-container {
    display: flex;
    gap: 2rem;
}

.modal-title,
.modal-button {
    font-size: clamp(1.5rem, 70%, 2rem);
    text-align: center;
    font-weight: bold;
}

.modal-button {
    font-size: 1rem;
    &:hover {
        color: $primary-dark;
        transform: scale(1.2);
    }
}
