
.single-recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: clamp(300px, 50vw, 2000px);
    padding:  0 1em 4em 1em;
    gap: 2em;

    & .ingredients-container {
        padding-right: 1em;
        @include colorBox;
    }
    & .instructions-container {
        padding: 1em;
        flex: stretch;
        @include colorBox;
    }

    @include sm {
        padding: 0;
        margin: 0;
    }
}

.recipe-name {
    margin-top: -.5em;
    width: 300px;
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 0.5em;
}


.recipe-button-container {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2%;
    right: 3%;
    display: flex;
    gap: 20px;
}

.edit-buttons {
    &:hover {
        color: $light-purple;
    }
}

.recipe-back-button {
    @include backButton;

}