.header-container {
    position: relative;
    @include flex;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: solid 2px var(--color-light);

    @include md {
        gap: 1em;
        position: fixed;
        justify-content: space-around;
        left: 0;
        right: 0;
        top: 0;
        height: 50px;
        z-index: 2;
        padding: 5px;
        background: var(--color-light);
    }
}


.menu-button {
    display: none;
    font-size: 4rem;
    z-index: 3;
    cursor: pointer;
    @include md {
        display: flex;
    }
}

.search-container {
    position: relative;
}

.search-bar {
    height: 40px;
    width: clamp(200px, 60vw, 600px);
    @include box;
    padding: 0 1em 0 4em;
    outline: none;
    border: none;
    border: solid 2px var(--color-light);
    @include md {
        margin: 0 auto;
    }
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    color: grey;
}
