.header-container {
    position: relative;
    @include flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0 1em;
    @include md {
        padding: 0;
    }
}

.logo-container {
    display: flex;
    align-items: center; 
    font-family: gluten, comic sans-serif;
    gap: 1em;
    margin-right: 5px;
    & .logo-title {
        @include md {
            display: none;
        }
    }
}

.menu-button {
    display: none;
    font-size: 4rem;
    margin-right: -5px;
    z-index: 3;
    cursor: pointer;
    @include md {
        display: flex;
    }
}

.search-bar {
    outline: none;
    height: 40px;
    width: clamp(200px, 32vw, 600px);
    @include box;
    padding: 0 1em;
    border: $salmon 2px solid;
    margin-right: -5px;
}

.search-icon {
    position: absolute;
    right: 30px;
    color: grey;
}

