.header-container {
    position: relative;
    @include flex;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0 1em;
    @include md {
        gap: 1em;
        padding: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 50px;
        z-index: 2;
        padding: 5px;
        padding-right: 0;
        background: $background;
    }
}

.logo-img {
    display: none;
    @include md {
        display: flex;
    }
}

.menu-button {
    display: none;
    font-size: 4rem;
    margin-right: -5px;
    z-index: 3;
    cursor: pointer;
    @include md {
        display: flex;
    }
}

.search-bar {
    outline: none;
    height: 40px;
    width: clamp(220px, 55vw, 600px);
    @include box;
    padding: 0 1em;
    border: var(--color-light) 2px solid;
    @include md {
        margin: 0 auto;
    }
}

.search-icon {
    position: absolute;
    right: 30px;
    color: grey;
}
