.outer-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-container {
    gap: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.recipe-container-header {
    display: flex;
    align-items: center;
    gap: 2em;
    & h2 {
        color: orange;
    }
}

.recipe {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 240px;
    background: white;
    border-radius: 15px;

    & .recipe-title-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: .5em 1em;
    }
    
    & .recipe-title, .recipe-category {
        margin: 0;
    }

    @include sm {
        min-width: 300px;
    }
}

.save-icon {
    width: 40px;
    color: orange;
    font-size: 1.5rem;
    margin-right: 5px;
}