.outer-recipe-container {
    display: flex;
    flex-direction: column;
}

.recipe-container {
    gap: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 260px;
    height: 70px;
    @include colorBox;
    border: black 2px solid;
    padding-left: 1em;

    & .recipe-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
    }
    & h3 {
        margin: 0;
    }

    & i {
        margin-left: 0.3em;
    }


    @include sm {
        min-width: 300px;
    }
}

.save-icon {
    width: 40px;
    position: absolute;
    top: 4px;
    right: 2px;
    color: $light-purple;
    font-size: 1.5rem;
}