.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2.2em;
    @include md {
        justify-content: center;
    }
}

.recipe-container-header {
    display: flex;
    align-items: center;
    gap: 2em;
    & h2 {
        color: var(--color-primary);
    }
    .recipes-amount {
        font-size: 1.5rem;
    }
}

.recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 230px;
    height: 230px;
    background: white;
    border: solid 2px white;
    border-radius: 15px;
    @include lg {
        transform: scale(0.9);
        margin: -1em;
    }
    @include md {
        transform: scale(0.8);
        margin: -2em;
    }
    @include sm {
        transform: scale(0.7);
        margin: -3em;
    }

    & .recipe-title-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 35%;
        padding: 0.5em 1em;
        font-size: clamp(0.9rem, 1vh, 1.2rem);
    }

    & .recipe-image {
        width: 100%;
        max-height: 65%;
        min-height: 65%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    & .recipe-title,
    .recipe-category {
        margin: 0; // keeps text closer together
        width: 85%;
    }
}

.save-icon {
    height: 50px;
    padding: 0 8px 0 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    color: var(--color-primary);
}

.empty-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loadingtaco {
    width: 80%;
}

.empty-text {
    font-size: clamp(1rem, 5vh, 1.5rem);
}
