.grocery-list-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 4em 0;
}

.line {
    padding-top: 2vh;
    border-bottom: grey 2px dotted;
    height: 5px;
    width: 350px;
}

.grocery-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: auto;
    gap: 2em;
    @include box;
    // font-family: "Indie Flower", "comic Sans";
    color: grey;
    font-size: 0.8rem;
}

.grocery-input-container {
    @include flex;
    flex-direction: column;
    gap: 2em;

    position: relative;
    & .grocery-input {
        @include input;
        width: 250px;
    }
}

.add-item-button {
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 05px;
}