* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

$yellow: #faf691;
$orange: hsl(44, 95%, 76%);
$pink: #faabf1;
$grey: #495057;
$lightyellow: hsl(58, 91%, 90%);
$lightpink: hsl(307, 89%, 93%);

@mixin boxStyle {
    border: 3px solid black;
    border-radius: 5px;
    background: #fff;
    box-shadow: 8px 8px 0 black;
    padding: 0.5rem 0;
}

@mixin input {
    width: 90%;
    padding: 0.2rem 0.5rem;
    color: $grey;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
    @include flex;
    justify-content: center;
    font-family: "Poppins", Verdana;
    font-size: 1.5rem;
    background-color: $lightyellow;
    background-image: linear-gradient(45deg, $lightpink 25%, transparent 25%, transparent 75%, $lightyellow 75%, $lightyellow), linear-gradient(-45deg, $lightpink 25%, transparent 25%, transparent 75%, $lightpink 75%, $lightpink);
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 8s infinite linear;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -120px 60px;
    }
}

.main-button {
    margin: 2rem;
    width: 300px;
    text-align: center;
    @include boxStyle;
}

.modal {
    @include flex;
    position: relative;
    margin: 3em 0;
    width: 35%;
    min-width: 350px;
    height: auto;
    @include boxStyle;
    padding: 3rem 0;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    
}
form {
    @include flex;
    width: 70%;
}
.form-group {
    @include flex;
    width: 100%;
    margin-bottom: 1.5rem;
}
.form-control {
    @include input;
}

.form-control:focus {
    border-color: $pink;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($pink, 0.25);
}
.close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

label {
    width: 93%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
a {
    color: inherit;
    text-decoration: none;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
}
.fa-circle-plus {
    color: $pink;
    cursor: pointer;
    margin: 0 0 3px 8px;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    width: 250px;
    @include boxStyle;
    transition: all 0.2s;
    &:hover {
        transform: translate(-0.4rem, -0.4rem);
    }
    &:active {
        box-shadow: 0 0 0 black;
        transform: translate(0, 0);
    }
}

textarea {
    min-height: 120px;
    width: 90%;
    padding: 0.6rem;
    resize: vertical;
    &:focus {
        border-color: $pink;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($pink, 0.25);
    }
}

.ingredients-list {
    width: 100%;
}

.ingredient-div {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    @include input;
    width: 100%;
    border: none;

    & .fa-ban {
        cursor: pointer;
        color: $grey;
    }

}
.ingredient-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.ingredient-button {
    width: 100px;
    font-size: 0.8rem;
    margin-left: 1rem;
    box-shadow: 4px 2px 0 black;
    &:hover {
        transform: translate(-0.2rem, -0.2rem);
    }
}

#create-button-container {
    display: flex;
    justify-content: center;
}
.option-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    .view-group {
        display: flex;
        justify-content: center;
    }
}
#recipe-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
    gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2em;
}
.item {
    cursor: pointer;
    @include flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    max-width: 180px;
    @include boxStyle;
    box-shadow: 4px 2px 0 black;
    padding: 5px;
    &:hover {
        transform: translateY(-3px);
    }
    &:active {
        box-shadow: 0 0 0 black;
        transform: translate(0, 0);
    }
}
#recipe-modal {
    position: absolute;
    top: 10rem;
    width: 50%;
}
.recipe-title {
    @include boxStyle;
    padding: 0 1rem;
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: clamp(1.5rem, 3vw,3rem);
}
#selected-recipe-container {
    display: flex;
    width: 90%;
    gap: 5rem;
    margin-top: 6rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

#selected-recipe-list {
    list-style:none;
    text-align: left;
    @include boxStyle;
    width: 250px;
    padding: 1em 0 0 2rem;
}


#recipe-intructions {
    @include boxStyle;
    width: 70%;
    padding: 1em 2rem;

}