* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

$largeFont: 1.5rem;
$mediumFont: 1rem;
$smallFont: 0.8rem;

$yellow: #faf691;
$lightyellow: #fdfbce;
$orange: #fcdd88;
$pink: #faabf1;
$lightpink: #fdddf9;
$grey: #495057;

$smallShadow: 4px 2px 0;

@mixin boxStyle {
    border: 3px solid black;
    border-radius: 5px;
    background: #fff;
    box-shadow: 8px 8px 0 black;
    padding: 0.5rem 0;
}

@mixin input {
    width: 90%;
    padding: 0.2rem 0.5rem;
    color: $grey;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button {
    cursor: pointer;
    width: 250px;
    transition: all 0.2s;
    &:hover {
        transform: translate(-0.4rem, -0.4rem);
    }
    &:active {
        box-shadow: 0 0 0 black;
        transform: translate(0, 0);
    }
}

@mixin smallButton {
    box-shadow: $smallShadow black;
    &:hover {
        transform: translate(-0.2rem, -0.2rem);
    }
}

body {
    background-size: 60px 60px;
    animation: slide 8s infinite linear;
    background-color: $orange;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fdfbce' fill-opacity='0.65'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -120px 60px;
    }
}

.main-container {
    height: 100vh; // transparent container needed to center elements, since body background is always moving
    width: 100vw;
    position: relative;
    @include flex;
    justify-content: center;
    font-family: "Poppins", Verdana;
}

.paint-brush {
    position: absolute;
    top: 30px;
    left: 20px;
    color: black;
    cursor: pointer;
    z-index: 2;
}
.color-nav {
    @include flex;
    position: absolute;
    list-style: none;
    left: 0px;
    top: 10px;
    width: 60px;
    padding: 2.7em 0 0.6em 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 10px;
    display: none;
    background: rgba(255, 255, 255, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    & li i:hover {
        cursor: pointer;
    }
}
#pink {
    color: deeppink;
}
#cyan {
    color: cyan;
}
#green {
    color: lime;
}
#purple {
    color: violet;
}
#yellow {
    color: rgb(255, 192, 3);
}

.menu-container {
    @include flex;
    margin: auto;
}
.main-button {
    margin: 2rem;
    width: 300px;
    text-align: center;
    @include boxStyle;
}

.modal {
    @include flex;
    position: relative;
    width: clamp(300px, 40%, 1000px);
    min-width: 300px;
    height: auto;
    @include boxStyle;
    padding: 2rem 0 1rem 0;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
form {
    @include flex;
    width: 70%;
}
.form-group {
    @include flex;
    width: 100%;
    margin-bottom: 1.5rem;
}
.form-control {
    @include input;
}

.form-control:focus {
    border-color: $pink;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($pink, 0.25);
}
.close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

label {
    width: 93%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: $largeFont;
}
a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    font-size: $largeFont;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: $mediumFont;
}

.dropdown {
    width: 94%; /* dropdown was smaller for unknown reason */
}

.fa-circle-plus {
    color: $pink;
    cursor: pointer;
    margin: 0 0 3px 8px;
}

button {
    @include boxStyle;
    @include button;
}

textarea {
    min-height: 120px;
    width: 90%;
    padding: 0.6rem;
    resize: vertical;
    &:focus {
        border-color: $pink;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($pink, 0.25);
    }
}

.ingredients-list {
    position: relative;
    @include flex;
    margin: 1rem 0;
    @include input;
    width: 90%;
    border: none;
}

// & .remove-ingredient {
//     position: absolute;
//     right: 3rem;
//     cursor: pointer;
//     color: $grey;
//     z-index: 2;

.new-ingredient {
    width: 80%;
    margin: 0.2rem 0;
}

.submit-button {
    font-size: $largeFont;
}

.ingredient-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.ingredient-button {
    @include smallButton;
    width: 100px;
    font-size: $smallFont;
    margin-left: 1rem;
}

#create-button-container {
    display: flex;
    justify-content: center;
}
.option-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    .view-group {
        display: flex;
        justify-content: center;
    }
}
#recipe-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
    gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2em;
}
.item {
    position: relative;
    @include flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: $mediumFont;
    max-width: 200px;
    @include boxStyle;
    box-shadow: $smallShadow black;
    padding: 10px 5px 5px 5px;
    & small {
        visibility: hidden;
        text-transform: lowercase;
        position: absolute;
        bottom: 0;
        font-size: $smallFont;
    }
    &:hover {
        transform: translateY(-3px);
        & small {
            visibility: visible;
        }
    }
    &:active {
        box-shadow: 0 0 0 black;
        transform: translate(0, 0);
    }
}
.reset {
    cursor: pointer;
    margin: 0 1rem;
}

.pagination {
    display: inline-block;
    margin: 2em 0 1em 0;
    font-weight: bold;
    & .arrow {
        font-size: 1rem;
    }
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: $smallFont;
    &:hover {
        background: $yellow;
    }
}

.pagination a.active {
    background-color: $orange;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: $lightyellow;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recipe-modal {
    position: absolute;
    top: 10rem;
    width: 50%;
}
.recipe-title {
    @include boxStyle;
    padding: 0 1rem;
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: clamp(1.5rem, 3vw, 3rem);
}
#selected-recipe-container {
    position: relative;
    font-family: inherit;
    display: flex;
    width: 90%;
    gap: 5rem;
    margin: 6rem 0 3rem 0;
    font-size: clamp($mediumFont, 2vw, 1.2rem);
}

#selected-recipe-list {
    list-style: none;
    text-align: left;
    @include boxStyle;
    width: 250px;
    padding: 1em 2rem;
}

#recipe-intructions {
    @include boxStyle;
    width: 70%;
    padding: 1em 2rem;
}

.recipe-button-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    & a {
        cursor: pointer;
        margin: 0 0.5rem;
        &:hover {
            color: $orange;
        }
    }
}

#delete-modal {
    display: none;
    position: fixed;
    width: 60%;
    font-size: $mediumFont;
    padding: 2rem;
    z-index: 2;
}

.delete-answers {
    display: flex;
    gap: 40px;
    margin-top: 2rem;
    & button {
        @include smallButton;
        width: 100px;
        font-weight: bold;
        font-size: $mediumFont;
        &:hover {
            border: $orange 4px solid;
            box-shadow: $smallShadow $orange;
        }
    }
}

.no-button {
    @include boxStyle;
    @include button;
    @include smallButton;
    width: 100px;
    font-weight: bold;
    font-size: $mediumFont;
    text-align: center;
    &:hover {
        border: $orange 4px solid;
        box-shadow: $smallShadow $orange;
    }
}

.reset-random {
    @include boxStyle;
    @include button;
    width: auto;
    padding: 0.5em 1em;
    position: absolute;
    top: 30px;
    left: 20px;
}
