.theme-modal {
    position: fixed;
    left: 10%;
    right: 0;
    top: 30%;
    bottom: 30%;
    width: 80%;
    padding: 2em 0;
    gap: 2em;
    @include flex;
    @include box;
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    background: var(--color-background);
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 2rem);
    z-index: 2;
}

.theme-button-container {
    @include flex;
    gap: 2em;
    @include md {
        gap: 1em;
    }
    @include sm {
        gap: 0.5em;
    }
}

.theme-button {
    font-size: clamp(1.5rem, 8vw, 3rem);
    &.pink {
        color: hsl(0, 90%, 80%);
    }
    &.orange {
        color: orange;
    }
    &.blue {
        color: hsl(195, 96%, 63%);
    }
    &.green {
        color: hsl(137, 49%, 59%);
    }
    &.purple {
        color: hsl(271, 91%, 74%);
    }
}
