.pagination-container {
    grid-area: 5 / 2 / 6 / 6;
    border-bottom-right-radius: 15px;
    text-align: center;
    @include lg {
        grid-area: 5 / 1 / 5 / 6;
    }
}



.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: $border-radius-sm;
    // font-size: $smallFont;
    &:hover {
        background: rgb(137, 233, 137);
        // background: $yellow;
    }
}

.pagination a.active {
    // background-color: $orange;
    background: rgb(34, 230, 34);
    color: white;
}

// .pagination a:hover:not(.active) {
//     background-color: $lightyellow;
// }

// .pagination a:first-child {
//     border-top-left-radius: 5px;
//     border-bottom-left-radius: 5px;
// }

// .pagination a:last-child {
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
// }