@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");
/*  MEDIA QUERIES */
/* use content so we can choose properties when using the mixin instead of hardcoding */
/* mixin for specific breakpoint (flexible) */
.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2em;
  margin: 2em 0 1em 0;
}
@media (max-width: 720px) {
  .categories-container {
    width: 100%;
  }
}

.cat-item-container {
  width: clamp(1.5rem, 15vw, 6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.cat-item-container:hover {
  background: rgb(221, 246, 221);
}

.cat-item-title {
  font-size: 0.9rem;
}

.cat-item-img {
  transform: scale(0.8);
  margin-bottom: -1em;
}

.header-container {
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1.5em;
}

.logo-container {
  display: flex;
  align-items: center;
  font-family: gluten, comic sans-serif;
  gap: 1em;
}
@media (max-width: 960px) {
  .logo-container {
    display: none;
  }
}

.menu-button {
  display: none;
  font-size: 3rem;
}
@media (max-width: 960px) {
  .menu-button {
    display: flex;
  }
}

.search-bar {
  outline: none;
  height: 40px;
  width: clamp(200px, 25vw, 600px);
  border: 2px black solid;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  padding: 0 1em;
  margin-left: -8px;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}
.login-form label {
  width: 100%;
  font-size: 1.5rem;
}
.login-form input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.login-form .submit-button {
  margin-top: 1em;
  font-size: 1.5rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
}
.login-form .submit-button:hover {
  transform: scale(1.1);
  border: rgb(74, 180, 74) solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(74, 180, 74, 0.75);
}

.login-back-button {
  font-size: 1.5rem;
  position: absolute;
  top: -8%;
  left: -9%;
}

.pagination-container {
  grid-area: 5/2/6/6;
  border-bottom-right-radius: 15px;
  text-align: center;
}
@media (max-width: 960px) {
  .pagination-container {
    grid-area: 5/1/5/6;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}
.pagination a:hover {
  background: rgb(137, 233, 137);
}

.pagination a.active {
  background: rgb(34, 230, 34);
  color: white;
}

.recipe-container {
  grid-area: 1/2/5/6;
  padding: 0 2em;
  gap: 2em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  .recipe-container {
    grid-area: 1/1/5/6;
  }
}

.recipe {
  cursor: pointer;
  min-width: 250px;
  height: 60px;
  border: 2px black solid;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
@media (max-width: 480px) {
  .recipe {
    min-width: 300px;
  }
}

.side-container {
  grid-area: 1/1/8/2;
  display: flex;
  align-items: flex-start;
  margin-left: 2em;
}
@media (max-width: 960px) {
  .side-container {
    display: none;
  }
}

.menu-container {
  width: 180px;
  height: 330px;
  border: 2px black solid;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em 1.5em 0 1em;
  background: rgb(221, 246, 221);
}

.menuItem {
  font-size: clamp(0.5rem, 5vh, 1rem);
  margin-bottom: clamp(0.5rem, 5vh, 1.5rem);
  font-weight: bold;
}
.menuItem a:hover {
  color: rgb(74, 180, 74);
}

.form-separator {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .form-separator {
    flex-direction: column;
  }
}

.form-inner-separator {
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.create-form label {
  width: 100%;
  font-size: 1.5rem;
}
.create-form input,
.create-form textarea,
.create-form select {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.create-form select {
  width: 96.5%;
}
.create-form textarea {
  height: 200px;
  padding-top: 1em;
}
.create-form .submit-button {
  margin: 1em 0;
  font-size: 1.5rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
}
.create-form .submit-button:hover {
  transform: scale(1.1);
  border: rgb(74, 180, 74) solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(74, 180, 74, 0.75);
}

.add-ingredient-container {
  position: relative;
}

.add-ingredient-button {
  position: absolute;
  top: 10%;
  right: 15%;
}

.form-back-button {
  font-size: 1.5rem;
  position: absolute;
  right: 2%;
  top: 1%;
}

.edit-container {
  display: flex;
  justify-content: center;
}

.form-separator {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .form-separator {
    flex-direction: column;
  }
}

.form-inner-separator {
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}
.form-inner-separator label {
  width: 100%;
  font-size: 1.5rem;
}
.form-inner-separator input,
.form-inner-separator textarea,
.form-inner-separator select {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.form-inner-separator select {
  width: 96.5%;
}
.form-inner-separator textarea {
  height: 200px;
  padding-top: 1em;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.edit-form .submit-button {
  margin: 1em 0;
  font-size: 1.5rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
}
.edit-form .submit-button:hover {
  transform: scale(1.1);
  border: rgb(74, 180, 74) solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(74, 180, 74, 0.75);
}

.add-ingredient-container {
  position: relative;
}

.add-ingredient-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-back-button {
  font-size: 1.5rem;
  position: absolute;
  left: 2%;
  top: 1%;
}

.error-page {
  background: red;
  padding: 2em;
}

.grocery-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 4em 0;
  margin: 2em;
  gap: 2em;
}

.line {
  padding-top: 2vh;
  border-bottom: grey 2px dotted;
  height: 5px;
  width: 350px;
}

.grocery-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: auto;
  gap: 2em;
  border: 2px black solid;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: grey;
  font-size: 0.8rem;
}

.grocery-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  position: relative;
}
.grocery-input-container .grocery-input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  width: 250px;
}

.add-item-button {
  position: absolute;
  bottom: 28px;
  right: 5px;
}

.grocery-back-button {
  font-size: 1.5rem;
  position: absolute;
  left: -7%;
  top: -52%;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}
.login-form label {
  width: 100%;
  font-size: 1.5rem;
}
.login-form input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.login-form .submit-button {
  margin-top: 1em;
  font-size: 1.5rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
}
.login-form .submit-button:hover {
  transform: scale(1.1);
  border: rgb(74, 180, 74) solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(74, 180, 74, 0.75);
}

.login-back-button {
  font-size: 1.5rem;
  position: absolute;
  top: -8%;
  left: -9%;
}

.register-container {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  width: clamp(300px, 40vw, 300px);
  flex-direction: column;
  margin: 2em;
  gap: 1em;
}
.register-form label {
  width: 100%;
  font-size: 1.5rem;
}
.register-form input {
  height: 40px;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  width: 90%;
  font-family: inherit;
  font-size: 1rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.register-form .submit-button {
  margin-top: 1em;
  font-size: 1.5rem;
  border: 2px black solid;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  transition: ease-in-out 0.3s;
}
.register-form .submit-button:hover {
  transform: scale(1.1);
  border: rgb(74, 180, 74) solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(74, 180, 74, 0.75);
}

.register-back-button {
  font-size: 1.5rem;
  position: absolute;
  top: -6%;
  left: -9%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background: rgb(255, 224, 254);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.global-container {
  max-width: 1300px;
  background: rgb(255, 255, 255);
  border: 2px black solid;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 30px;
  padding: 1em;
}

.main-container {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 720px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=app.css.map */