@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap");

@import "./variables";
@import "./mixins";

// COMPONENT IMPORTS
@import "../../Components/categories/categories";
@import "../../Components/header/header";
@import "../../Components/login-register/login-register";
@import "../../Components/pagination/pagination";
@import "../../Components/recipes/recipes";
@import "../../Components/menu/menu";

@import "../../Pages/create/create";
@import "../../Pages/edit/edit";
@import "../../Pages/error/error";
@import "../../Pages/grocery-list/groceryList";
@import "../../Pages/login/login";
@import "../../Pages/recipe/recipe";
@import "../../Pages/register/register";

// GLOBAL STYLING
html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    @include flex;
    min-height: 95vh;
    background: rgb(255, 224, 254);
}

a {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}


// APP STYLING
.global-container {
    max-width: 1300px;
    background: rgb(255, 255, 255);
    @include box;
    margin: 30px;
    padding: 1em;
}

.main-container {
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include md {
        @include flex;
        flex-direction: column;
    }
}
