

.register-container {
    display: flex; 
    justify-content: center;
}

.register-form {
    @include flex;
    @include form;
    
    & label {
        @include label;
    }

    & input {
        @include input;
    }
    
    & .register-submit-button {
        @include submitButton;
        margin-top: 1em;
    }
}
