<div id="addModal" class="modal">
    <a href="/" class="close">&times;</a>

    <form method="POST" action="/add" autocomplete="off">
        <div class="form-group">
            <label id="name-label" for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter recipe name" value="" required />
        </div>

        <div class="form-group">
            <label>Which best describes your recipe?</label>
            <select id="dropdown" name="category" class="form-control" required>
                <option disabled="disabled" selected="selected" value="">Select category</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Appetizers">Appetizers</option>
                <option value="Cold">Cold meals</option>
                <option value="Warm">Warm meals</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Dessert">Dessert</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label>Ingredients</label>
            <div class="ingredients-list">
                <div class="ingredient-div">
                    <input type="text" name="ingredients" class="ingredient-input form-control">
                </div>
            </div>
            <div class="ingredient-button-container">
                <button type="button" class="ingredient-button">+ ingredient</button></i>
            </div>
        </div>

        <div class="form-group">
            <label>Instructions</label>
            <textarea id="instructions" class="input-textarea" name="instructions" placeholder="Enter instructions here..." value="" required></textarea>
        </div>

        <div class="form-group" id="create-button-container">
            <button type="submit" class="submit-button">create recipe</button>
        </div>
    </form>
</div>

