<div class="modal" id="recipe-modal">
    <!-- BACK BUTTON -->
    <a href="/view/<%= recipe._id %>" class="close">&times;</a>


    <h1>Are you sure you want to delete this recipe?</h1>
    
    <!-- SUBMIT DELETE BUTTON -->
    <form action="/edit/<%= recipe._id %>?_method=DELETE" method="POST"> 
        <button type="submit">Yes, remove recipe.</button>
    </form>
</div>
