
<div id="searchModal" class="modal">
    <spanvscode-file://vscode-app/c:/Users/Sjjoh/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.html id="close-search-modal" class="close">&times;</spanvscode-file:>
    <form method="GET" action="/find" class="form">
        <div class="form-group" id="search-form-group">
            <input
                type="text"
                class="form-control"
                placeholder="Search.."
            />
            <button
                type="submit"
                id="search-submit"
                class="submit-button"
                >search recipes</button
            >
        </div>
    </form>
</div>