
<div id="searchModal" class="modal">
    <a href="/" class="close">&times;</a>
    <form method="POST" action="/search" class="form">
        <div class="form-group" id="search-form-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search.." aria-label="Search"/>
            <button type="submit" id="search-submit" class="submit-button">search recipes</button>
        </div>
    </form>

    <div>
        <% if (recipes != "") { %> <!--if there are recipes to search through -->

            <% recipes.forEach(element => { %>
                <div><%= element.name %></div>
            <% }) %>

        <% } else { %>

        <!-- SEARCH NOT FOUND -->
        <h2>No results found.</h2>
        <% } %>

    </div>

</div>