<div class="modal" id="recipe-modal">
    <!-- BACK BUTTON -->
    <a href="/view" class="close">&times;</a>

    <!-- RECIPE TITLE -->
    <h1 class="recipe-title"><%= single.name %></h1>

    <div id="selected-recipe-container">

        <!-- INGREDIENT LIST CONTAINER-->
        <ul id="selected-recipe-list">
            <% for (var i = 0; i < single.ingredients.length ; i++) { %>
                <li> <%= single.ingredients[i] %> </li>
            <% } %>
        </ul>

        <!-- RECIPE INSTRUCTIONS CONTAINER -->
        <div id="recipe-intructions">
            <%= single.instructions %>
        </div>

    </div>
</div>
