
<div class="modal">
    <a href="/" class="close">&times;</a>

<div class="option-container">
    <form method="GET" action="/category" class="form">
        <div class="form-group view-group">
            <select id="sort-dropdown" name="category" class="form-control">
                <option disabled="disabled" selected="selected" value=""
                    >Select category</option
                >
                <option value="Breakfast">Breakfast</option>
                <option value="Appetizers">Appetizers</option>
                <option value="Cold">Cold meals</option>
                <option value="Warm">Warm meals</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Dessert">Dessert</option>
                <option value="other">Other</option>
            </select>
        </div>
    </form>
    <form method="POST" action="/search" class="form">
        <div class="form-group view-group" id="search-form-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search.." aria-label="Search"/>
        </div>
    </form>
</div>



    <div id="recipe-container">
        <% recipes.forEach(element => { %>
            <div class="item">
                <b><%= element.name %></b>
                <small><%= element.category %></small>
            </div>
        <% }) %>
    </div>

    <div class="pagination">
        <a href="#" class="arrow">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#" class="arrow">&raquo;</a>
    </div>
</div>
