


// COLORS
$green: rgb(221, 246, 221);
$green2: rgb(152, 242, 147);
$salmon: rgb(255, 171, 185);
$salmon-light: rgb(250, 229, 233);
$light: rgb(255, 255, 255);

$border: 2px black solid;
$box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
$border-radius-sm: 5px;