.grocery-list-container {
    padding: 4em 0;
    margin: 2em;
    gap: 2em;
    // font-family: "Indie Flower", "comic Sans";
    @include xl {
        padding: 0;
    }
}

.line {
    padding-top: 2vh;
    border-bottom: grey 2px dotted;
    height: 5px;
    width: clamp(250px, 18vw, 330px);
}

.grocery-list {
    border: deeppink solid 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(300px, 20vw, 400px);
    padding: 2em 0 1em 0;
    height: auto;
    gap: 1.5em;
    @include colorBox;
    color: grey;
    font-size: 0.8rem;
}

.grocery-input-container {
    @include flex;
    height: 200px;
    flex-direction: column;
    gap: 2em;
    position: relative;
    & .grocery-input {
        @include input;
        width: 250px;
    }
}

.add-item-button {
    position: absolute;
    bottom: 41px;
    right: 25px;
}

.grocery-back-button {
    @include backButton;

}
