.grocery-list-container {
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include xl {
        padding: 0;
    }
}

.grocery-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 20vw, 400px);
    padding: 2em 0 1em 0;
    margin-top: 3em;
    @include colorBox;
    background: $background2;
    color: grey;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: grey 2px dotted;
    font-size: 1.2rem;
    width: clamp(250px, 18vw, 330px);
}

.line-through {
    text-decoration: line-through;
}

.grocery-input {
    @include input;
    width: 250px;
    height: 40px;
}
.add-item-button {
    background: $background2;
    padding: 5px 10px;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.75);
}

.grocery-back-button {
    @include backButton;
}
