.grocery-list-container {
    background: var(--color-primary);
    padding: 4em 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    @include xl {
        padding: 0;
    }
}
.grocery-title {
    color:  var(--color-light);
}

.grocery-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 20vw, 400px);
    padding: 2em 0 1em 0;
    margin-top: 3em;
    @include box;
    background: var(--color-light);
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: grey 2px dotted;
    font-size: 1.2rem;
    width: clamp(250px, 18vw, 330px);
}

.line-text {
    margin-bottom: 4px; // keeps the text at the bottom of the line
}

.line-through {
    text-decoration: line-through;
}

.grocery-input {
    @include input;
    width: 250px;
    height: 30px;
}
.add-item-button {
    background: var(--color-light);
    padding: 5px 10px;
    border: black 1px solid;
    border-radius: 5px;
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.75);
    &:active {
        color: var(--color-primary);
        box-shadow: 3px 4px 0px 0px var(--color-primary);
    }
}
