
.login-container {
    display: flex; 
    justify-content: center;
}

.login-form {
    @include flex;
    @include form;
    
    & label {
        @include label;
    }

    & input {
        @include input;
    }
    
    & .submit-button {
        @include submitButton;
    }

}

.login-back-button {
    @include backButton;
    top: -8%;
    left: -9%;
}