
.auth-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: -200px;
    background: var(--color-primary);

}

.auth-form {
    @include flex;
    @include form;
    margin-top: -1em;
    height: 500px;

    & input {
        @include input;
        background: var(--color-light);
    }
}

.auth-form-group {
    position: relative;
}

.auth-submit-button {
    font-size: 1.5rem;
    @include button;
    border-radius: 10px;
    padding: 0.5em 1.5em;
}