.recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 2em;
    margin-top: 2em;
    width: 100vw;
    & label {
        @include label;
        display: flex;
    }

    & input,
    select {
        @include input;
        width: 95%;
        background: white;
        
    }

    & select {
        width:100%;
        }

    & textarea {
        @include input;
        background: white;
        height: auto;
        min-height: 80px;
        width: 95%;
        padding-top: 1em;
        resize: none;
        overflow: hidden;
    }
}

.form-separator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    @include lg {
        width: 90vw;
    }
}


.add-button {
    width: 50px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    & .remove-method-button {
        position: absolute;
        right: 0;
        top: 42px;
    }

    & .remove-ingredient-button {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.submit-button {
    font-size: 1.5rem;
    @include button;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    width: 300px;
    margin: 1em 0;
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 20px;
    .smallInput {
        width: clamp(50px, 15vw, 200px);
    }
}

